{
    "main_url":['https://www.dpdhl.jobs/search-jobs'],
    "allowed_domains":"dpdhl.jobs",
    "part_url":"https://www.dpdhl.jobs",
    
    "category_results": '//li[@class="job-entry"]',
    "category_name":'a/h2/text()',
    "category_path":'a/@href',
    
    "subcategory_results": '//div[@class="job-description-info"]',
    "subcategory_name":'div/span[1]/text() & div/span[2]',
    "subcategory_path":'a[@class="button job-apply top"]/@href',
    "output_filename": "dhl_cat.config",
}
