{
    "main_url":['https://www.dpdhl.jobs/search-jobs'],
    "allowed_domains":"dpdhl.jobs",
    "part_url":"https://www.dpdhl.jobs",
    
    "category_results": '//li[@class="job-entry"]',
    "category_name":'a/h2/text()',
    "category_path":'a/@href',
    "only_category": "Y",
    "output_filename": "dhl_cat.config",
}
