{
    "main_url":['https://www.glassdoor.com/sitedirectory/company-jobs.htm'],
    "allowed_domains":"glassdoor.com",
    "part_url":"https://www.glassdoor.com",

    "category_results": '//div[@id="PageLinks"][2]/div/ul/ul/li',
    "category_name":'span/a/text()',
    "category_path":'span/a/@href',

    "subcategory_results": '//ol/li[@class="header"]',
    "subcategory_name":'a/text()',
    "subcategory_path":'a/@href',
    "output_filename": "Glassdoor_cat.config"
}
