{
"main_url":['https://www.henkel.com/careers/jobs-and-application'],
"allowed_domains":"henkel.com",
"part_url":"https://www.henkel.com/careers/jobs-and-application#selectFilterByParameter=select_34828_5_Functional_Area_18674_Functional Area=",
"only_category":'Y',
"category_results": '//div[@id="select5"]/div/div',
"category_name":'//div/label/span[1]/text()',
"category_path":'//div/input/@value',
"output_filename": "henkel_cat.config"
}
