{
"main_url":['https://www.linkedin.com/jobs/'],
"allowed_domains":"linkedin.com",
"part_url":"https://www.linkedin.com",
"subcategory_name":'//div[@class="wrapper"]/div[@class="section has-bucket last"][1]/div[1]/ul/li/a[1]/@text',
"subcategory_path":'//div[@class="wrapper"]/div[@class="section has-bucket last"][1]/div[1]/ul/li/a[1]/@href',
"category_name":'//div[@class="gjh-browse-jobs"]/div[1]/ul/li/a/text()',
"category_path":'//div[@class="gjh-browse-jobs"]/div[1]/ul/li/a/@href'
}
