{
"main_url":['https://www.linkedin.com/jobs/'],
"allowed_domains":"linkedin.com",
"part_url":"https://www.linkedin.com",
"subcategory_name":'//ul[@class="card-columns"]/li/a[1]/h3/text()',
"subcategory_path":'//ul[@class="card-columns"]/li/a[1]/@href',
"category_name":'//div[@class="gjh-browse-jobs"]/div[1]/ul/li/a/text()',
"category_path":'//div[@class="gjh-browse-jobs"]/div[1]/ul/li/a/@href'
}
