{
    "main_url":['https://jobs.sap.com/search/?q=&locationsearch=&locale='],
    "allowed_domains":"sap.com",
    "part_url":"https://jobs.sap.com",
    "category_name":'//a[@title="Featured Jobs"]/following-sibling::ul/li/a/text()',
    "category_path":'//a[@title="Featured Jobs"]/following-sibling::ul/li/a/@href',
    'only_category':'Y',
    "output_filename": "Sap_cat.config"
}