{
    "main_url":['https://karriere.thyssenkrupp.com/en/career/career-worldwide/global-job-board'],
    "allowed_domains":"thyssenkrupp.com",
    "part_url":"",
    "category_results": '//li[@class="filter-sub-label"]',
    "category_name":'span[2]/@data-replacetext',
    "category_path":'span[2]/text()',
    "only_category": "Y",
    "output_filename": "Thyssenkrup_cat2.config"
}
